* {
    font-size: 40px;
}

body {
    margin: 0;
    padding: 0;
}

header, nav {
    width: 100%;
    height: 70px;
    background-color: rgb(11, 15, 250);

    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    width: 100%;
    height: 70px;
    background-color: rgb(183, 0, 255);

    display: flex;
    justify-content: center;
    align-items: center;
}
aside {
    width: 30%;
    background-color:cornflowerblue;
    height: 350px;

    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    height: 350px;
    background-color: rgb(250, 250, 11);

    display: flex;
    justify-content: center;
    align-items: center;
}


aside1 {
    width: 30%;
    background-color:limegreen;
    height: 350px;

    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    width: 100%;
    background-color:red;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}