/* https://github.com/cloudguy9/proyek-html/LATIHAN 4 */
/* Nov 19, 2025 */

*, html, body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.fcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 15px;
    width: 800px;
    height: 30px;
    border-radius: 1em;
    background-color: aqua;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.5);
}

.brand{
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
    padding: 15px;
    text-transform: capitalize;
}

.firstname{ color:blue; }
.lastname{ color: palevioletred; padding-left: 4px;}

.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation> li{
    list-style-type: none;
    padding: 15px;
}
.navigation> li> a{
    color: rgb(187, 126, 35);
    font-size: 20px;
    text-decoration: none;
}
.navigation> li> a:hover{
    color: rgb(7, 126, 230);
    transition: all .6s ease-in-out;
}
.navigation> li> img{
    width: 50px;
    height: 50px;
}

.active{
    background-color: blue;
    padding: 15px;
}
.active:hover{
    color: rgb(187, 126, 35);
}